<?xml version="1.0"?>

<model>
  <name>Orange brick with magnet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Marko Krizmancic</name>
    <email>marko.krizmancic@fer.hr</email>
  </author>

  <description>
   An orange brick with magentic patch.
  </description>
</model>
