<?xml version="1.0"?>

<!-- If you want to spawn different pipe models, simply send the pipe_name argument to the launch file and that model will be spawned. Usage:
roslaunch larics_gazebo_worlds pipe_model:="pipe1" -->

<launch>
  <arg name="name" default="pipe"/>
  <arg name="pipe_name" default="pipe1" />
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="-0.01"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="mmuav_log"/>
  <arg name="exclude_floor_link_from_collision_check" default="ground_plane::link"/>
  <arg name="model" value="$(find larics_gazebo_worlds)/models/pipe/pipe.urdf.gazebo" />
  <arg name="collision_bitmask" default="-1" />

  <!-- send the robot XML to param server -->
  <param name="/$(arg name)/robot_description" command="
    $(find xacro)/xacro --inorder '$(arg model)'
    enable_logging:=$(arg enable_logging)
    enable_ground_truth:=$(arg enable_ground_truth)
    exclude_floor_link_from_collision_check:=$(arg exclude_floor_link_from_collision_check)
    log_file:=$(arg log_file)
    collision_bitmask:=$(arg collision_bitmask)
    name:=$(arg name)
    pipe_name:=$(arg pipe_name)"
  />
    
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to pipe and spawn robot in gazebo -->
  <node name="$(anon spawn_robot)" pkg="gazebo_ros" type="spawn_model"
   args="-param /$(arg name)/robot_description
         -sdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -R 0
         -P 0
         -Y 0
         -model $(arg name)"
   respawn="false" output="screen" >
  </node>

</launch>
