<?xml version="1.0" ?>
<model>
    <name>icl_glue</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Marko Krizmancic</name>
        <email>marko.krizmancic@fer.hr</email>
    </author>
    <description>Simple glue model for ICL experiments</description>
</model>
