<?xml version="1.0"?>

<launch>
  
  <arg name="args" default=""/>
  
  <include file="$(find larics_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="$(find larics_gazebo_worlds)/worlds/greenhouse_layout_simple.world"/>
    <arg name="args" default="$(arg args)"/>
  </include>

</launch>
