<?xml version="1.0"?>
<launch>
  <!-- Bottom box dimensions (0.4m thick, 3m long, 3m high) -->
  <arg name="box_thickness" default="0.4"/>
  <arg name="box_height" default="5.0"/>
  <arg name="box_length" default="3.0"/>

  <!-- Box 1 (left side) -->
  <arg name="name1" default="box_left"/>
  <arg name="x1" default="8"/> 
  <arg name="y1" default="3"/>
  <arg name="z1" default="1.5"/>  <!-- Origin at floor, half the height of the box -->
  <arg name="roll1" default="0"/>
  <arg name="pitch1" default="0"/>
  <arg name="yaw1" default="-1.047"/> <!-- 60 degrees or -1.047 radians -->
  <arg name="box_mass1" default="200.0"/>
  <arg name="color1" default="Green"/>

  <!-- Box 2 (right side) -->
  <arg name="name2" default="box_right"/>
  <arg name="x2" default="9.0"/> 
  <arg name="y2" default="0"/>
  <arg name="z2" default="1.5"/>  <!-- Origin at floor, half the height of the box -->
  <arg name="roll2" default="0"/>
  <arg name="pitch2" default="0"/>
  <arg name="yaw2" default="1.57"/> <!-- 90 degrees or 1.57 radians -->
  <arg name="box_mass2" default="200.0"/>
  <arg name="color2" default="Red"/>

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find larics_gazebo_worlds)/launch/start.launch">
    <arg name="world" default="worlds/empty.world"/>
  </include>

  <!-- Send the robot XML for the left box -->
  <param name="/$(arg name1)/robot_description" command="
    $(find xacro)/xacro '$(find larics_gazebo_worlds)/models/wall/wall_base.urdf.gazebo'
    box_name:=$(arg name1)
    m:=$(arg box_mass1)
    l:=$(arg box_length)
    w:=$(arg box_thickness)
    h:=$(arg box_height)
    color:=$(arg color1)"
  />

  <!-- Send the robot XML for the right box -->
  <param name="/$(arg name2)/robot_description" command="
    $(find xacro)/xacro '$(find larics_gazebo_worlds)/models/wall/wall_base.urdf.gazebo'
    box_name:=$(arg name2)
    m:=$(arg box_mass2)
    l:=$(arg box_length)
    w:=$(arg box_thickness)
    h:=$(arg box_height)
    color:=$(arg color2)"
  />

  <!-- Spawn the left box -->
  <node name="spawn_box_left" pkg="gazebo_ros" type="spawn_model"
    args="-param /$(arg name1)/robot_description
          -sdf
          -x $(arg x1)
          -y $(arg y1)
          -z $(arg z1)
          -R $(arg roll1)
          -P $(arg pitch1)
          -Y $(arg yaw1)
          -model $(arg name1)"
    respawn="false" output="screen">
  </node>

  <!-- Spawn the right box -->
  <node name="spawn_box_right" pkg="gazebo_ros" type="spawn_model"
    args="-param /$(arg name2)/robot_description
          -sdf
          -x $(arg x2)
          -y $(arg y2)
          -z $(arg z2)
          -R $(arg roll2)
          -P $(arg pitch2)
          -Y $(arg yaw2)
          -model $(arg name2)"
    respawn="false" output="screen">
  </node>
</launch>
